all:
  children:
    {{ profile.inventory_group }}:
      hosts:
        {{ profile.name }}:
          ansible_host: REPLACE_WITH_PUBLIC_IP_OR_DNS
          ansible_user: {{ profile.ansible_user }}
{% for key, value in aws_ec2_setup_inventory_host_vars.items() %}
          {{ key }}: {{ value }}
{% endfor %}
      vars:
        username: {{ profile.username }}
