[defaults]
inventory = inventory/hosts.yml
roles_path = roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_path = collections:~/.ansible/collections:/usr/share/ansible/collections
retry_files_enabled = False
host_key_checking = False
vault_password_file = playbooks/vault-password

[ssh_connection]
ssh_args = -F /home/stebates/.ssh/config -o ControlMaster=auto -o ControlPersist=60s
