ANTHROPIC_CUSTOM_HEADER={{ amd_llm_exporter_custom_header }}
AMD_LLM_EXPORTER_ENDPOINT={{ amd_llm_exporter_endpoint }}
AMD_LLM_EXPORTER_PORT={{ amd_llm_exporter_port }}
AMD_LLM_EXPORTER_WINDOW_DAYS={{ amd_llm_exporter_window_days }}
AMD_LLM_EXPORTER_REFRESH_SECONDS={{ amd_llm_exporter_refresh_seconds }}
