---
# Copyright (c) Stephen Bates, 2022
#
# AMD ROCm software install and setup.

- name: Set a fact containing the current roles' path
  ansible.builtin.set_fact:
    calling_role_path_fact: "{{ role_path }}"

- name: Test the host platform to see if it can support this role
  ansible.builtin.include_role:
    name: check_platform
  vars:
    calling_role_path: "{{ calling_role_path_fact }}"

- name: Run the rocm_setup prerequisite steps
  ansible.builtin.import_tasks:
    file: rocm_pre.yml

- name: Add the AMD ROCm apt siging key and repo (replace mode)
  ansible.builtin.deb822_repository:
    name: rocm
    types: deb
    uris:
      - https://repo.radeon.com/rocm/apt/{{ rocm_setup_rocm_version }}
      - https://repo.radeon.com/amdgpu/{{ rocm_setup_amdgpu_version }}/ubuntu
    suites: '{{ ansible_distribution_release }}'
    components: main
    architectures: amd64
    signed_by: https://repo.radeon.com/rocm/rocm.gpg.key
  become: true
  when: not rocm_setup_add_new

- name: Add the AMD ROCm apt siging key and repo (add new mode)
  ansible.builtin.deb822_repository:
    name: "rocm-{{ rocm_setup_rocm_version }}"
    types: deb
    uris:
      - https://repo.radeon.com/rocm/apt/{{ rocm_setup_rocm_version }}
      - https://repo.radeon.com/amdgpu/{{ rocm_setup_amdgpu_version }}/ubuntu
    suites: '{{ ansible_distribution_release }}'
    components: main
    architectures: amd64
    signed_by: https://repo.radeon.com/rocm/rocm.gpg.key
  become: true
  when: rocm_setup_add_new

- name: Add the AMD graphics repo (replace mode)
  ansible.builtin.deb822_repository:
    name: rocm
    types: deb
    uris:
      - https://repo.radeon.com/graphics/{{ rocm_setup_rocm_version }}/ubuntu
    suites: '{{ ansible_distribution_release }}'
    components: main
    architectures: amd64
    signed_by: https://repo.radeon.com/rocm/rocm.gpg.key
  become: true
  when: not rocm_setup_wsl_install and not rocm_setup_add_new

- name: Add the AMD graphics repo (add new mode)
  ansible.builtin.deb822_repository:
    name: "rocm-graphics-{{ rocm_setup_rocm_version }}"
    types: deb
    uris:
      - https://repo.radeon.com/graphics/{{ rocm_setup_rocm_version }}/ubuntu
    suites: '{{ ansible_distribution_release }}'
    components: main
    architectures: amd64
    signed_by: https://repo.radeon.com/rocm/rocm.gpg.key
  become: true
  when: not rocm_setup_wsl_install and rocm_setup_add_new

- name: Add the AMD ROCm apt siging key and repo for WSL (replace mode)
  ansible.builtin.deb822_repository:
    name: rocm
    types: deb
    uris:
      - https://repo.radeon.com/rocm/apt/{{ rocm_setup_rocm_version }}
      - https://repo.radeon.com/amdgpu/{{ rocm_setup_amdgpu_version }}/ubuntu
    suites: '{{ ansible_distribution_release }}'
    components: main
    architectures: amd64
    signed_by: https://repo.radeon.com/rocm/rocm.gpg.key
  become: true
  when: not rocm_setup_wsl_install and not rocm_setup_add_new

- name: Add the AMD ROCm apt siging key and repo for WSL (add new mode)
  ansible.builtin.deb822_repository:
    name: "rocm-wsl-{{ rocm_setup_rocm_version }}"
    types: deb
    uris:
      - https://repo.radeon.com/rocm/apt/{{ rocm_setup_rocm_version }}
      - https://repo.radeon.com/amdgpu/{{ rocm_setup_amdgpu_version }}/ubuntu
    suites: '{{ ansible_distribution_release }}'
    components: main
    architectures: amd64
    signed_by: https://repo.radeon.com/rocm/rocm.gpg.key
  become: true
  when: not rocm_setup_wsl_install and rocm_setup_add_new

- name: Create a rocm-pin-600 file to pin the repos want to install
  ansible.builtin.copy:
    content: |
      Package: *
      Pin: release o=repo.radeon.com
      Pin-Priority: 600
    dest: /etc/apt/preferences.d/rocm-pin-600
    owner: root
    group: root
    mode: '0644'
  become: true

- name: Install the rocm meta-package (replace mode)
  ansible.builtin.package:
    update_cache: true
    name:
      - libstdc++-14-dev
      - rocm
  become: true
  when: not rocm_setup_wsl_install and not rocm_setup_add_new

- name: Install the versioned rocm packages (add new mode)
  ansible.builtin.package:
    update_cache: true
    name:
      - libstdc++-14-dev
      - "rocm{{ rocm_setup_rocm_version }}"
  become: true
  when: not rocm_setup_wsl_install and rocm_setup_add_new

- name: Install the WSL rocm packages (replace mode)
  ansible.builtin.package:
    update_cache: true
    name:
      - hsa-runtime-rocr4wsl-amdgpu
      - libstdc++-14-dev
      - rocm-core
      - rocm-dev
  become: true
  when: rocm_setup_wsl_install and not rocm_setup_add_new

- name: Install the versioned WSL rocm packages (add new mode)
  ansible.builtin.package:
    update_cache: true
    name:
      - hsa-runtime-rocr4wsl-amdgpu
      - libstdc++-14-dev
      - "rocm-core{{ rocm_setup_rocm_version }}"
      - "rocm-dev{{ rocm_setup_rocm_version }}"
  become: true
  when: rocm_setup_wsl_install and rocm_setup_add_new

- name: Update the library linker with rocm library paths
  ansible.builtin.copy:
    content: |
      /opt/rocm/lib
      /opt/rocm/lib64
    dest: /etc/ld.so.conf.d/rocm.conf
    owner: root
    group: root
    mode: '0644'
  become: true

- name: Run ldconfig to ensure library updates take effect
  ansible.builtin.shell:
    cmd: ldconfig
  become: true
  changed_when: false

- name: Update the PCIe ID tables (for new GPU support)
  ansible.builtin.shell:
    cmd: update-pciids
  become: true
  changed_when: false

- name: Install or upgrade amdgpu-dkms to latest available  # noqa package-latest
  ansible.builtin.package:
    update_cache: true
    name:
      - amdgpu-dkms
    state: latest
  when: not rocm_setup_wsl_install
  become: true
  register: amdgpu_dkms_install
  # Using latest is intentional: When installing multiple ROCm versions,
  # only one amdgpu-dkms can be installed and it must be the latest

- name: Display amdgpu-dkms version installed
  ansible.builtin.debug:
    msg: "amdgpu-dkms has been installed/upgraded"
  when: not rocm_setup_wsl_install and amdgpu_dkms_install.changed

- name: Perform a reboot to allow changes to take affect
  ansible.builtin.reboot:
    reboot_timeout: "{{ rocm_setup_reboot_timeout }}"
  become: true
  when: ansible_connection != 'local' and not rocm_setup_wsl_install

- name: Run the rocm checks to ensure install worked
  ansible.builtin.import_tasks:
    file: rocm_check.yml
  when: rocm_setup_run_checks

- name: Install and configure AMD Device Metrics Exporter
  ansible.builtin.import_tasks:
    file: metrics_exporter.yml
  when: rocm_setup_install_metrics_exporter
