---
# Copyright (c) Stephen Bates, 2025
#
# RDMA setup

- name: Set a fact containing the current roles' path
  ansible.builtin.set_fact:
    calling_role_path_fact: "{{ role_path }}"

- name: Test the host platform to see if it can support this role
  ansible.builtin.include_role:
    name: check_platform
  vars:
    calling_role_path: "{{ calling_role_path_fact }}"

- name: Perform an update, upgrade and autoremove
  ansible.builtin.apt:
    update_cache: true
    upgrade: full
    autoremove: true
  become: true

- name: Perform a reboot to allow kernel updates
  ansible.builtin.reboot:
    reboot_timeout: "{{ rdma_setup_reboot_timeout }}"
  become: true
  when: rdma_setup_reboot and ansible_connection != 'local'

- name: Update ansible_kernel as it may have changed
  ansible.builtin.setup:
    filter:
      - ansible_kernel

- name: Install the desired kernel packages
  ansible.builtin.package:
    update_cache: true
    name:
      - linux-headers-{{ ansible_kernel }}
      - linux-modules-extra-{{ ansible_kernel }}
  become: true

- name: Install the desired RDMA packages
  ansible.builtin.package:
    update_cache: true
    name:
      - ibutils
      - ibverbs-utils
      - infiniband-diags
      - librdmacm-dev
      - libibverbs-dev
      - libnl-3-dev
      - libnl-route-3-dev
      - libnuma-dev
      - numactl
      - perftest
      - pciutils
      - rdma-core
      - rdmacm-utils
  become: true

- name: Update the PCIe ID tables (for new device support)
  ansible.builtin.shell:
    cmd: update-pciids
  become: true
  changed_when: false

- name: Perform another reboot to allow modules to load
  ansible.builtin.reboot:
    reboot_timeout: "{{ rdma_setup_reboot_timeout }}"
  become: true
  when: rdma_setup_reboot and ansible_connection != 'local'

- name: Copy rdma-detect script to target host
  ansible.builtin.copy:
    src: rdma-detect
    dest: "{{ rdma_detect_script_dest }}"
    mode: '0755'
    owner: root
    group: root
  become: true

- name: Run the rdma-detect script
  ansible.builtin.shell:
    cmd: "{{ rdma_detect_script_dest }}"
  environment:
    RDMA_DETECT_OUTPUT_FILE: "{{ rdma_detect_output_file }}"
  register: rdma_detect_output
  become: true
  changed_when: false

- name: Display RDMA detection results
  ansible.builtin.debug:
    var: rdma_detect_output.stdout_lines

- name: Read the rdma-detect status file
  ansible.builtin.slurp:
    src: "{{ rdma_detect_output_file }}"
  register: rdma_status_file
  become: true

- name: Set fact with RDMA detection details
  ansible.builtin.set_fact:
    rdma_detection_report: "{{ rdma_status_file['content'] | b64decode }}"

- name: Display location of saved report
  ansible.builtin.debug:
    msg: "RDMA detection report saved to {{ rdma_detect_output_file }} on target host"

- name: Run the rdma dev command and register output
  ansible.builtin.shell: rdma dev
  register: rdma_dev
  become: true
  changed_when: false

- name: Print the output of the rdma dev command
  ansible.builtin.debug:
    msg: "The rdma dev output was: {{ rdma_dev.stdout }}."

- name: Copy RDMA devices MOTD script
  ansible.builtin.copy:
    src: 98-rdma-devices
    dest: /etc/update-motd.d/98-rdma-devices
    owner: root
    group: root
    mode: '0755'
  become: true
  when: rdma_setup_motd
