all:
  children:
    local:
      hosts:
        localhost:
          ansible_connection: local
    localvms:
      hosts:
        local-vm:
          username: stebates
          user_setup_vm_fstab: true
          user_setup_motd: true
    amd:
      hosts:
        rocfile10:
        ibgda-ctrl:
        snoc-think:
          user_setup_motd: true
        snoc-think-vm:
          user_setup_vm_fstab: true
          user_setup_motd: true
        ibgda-brcm:
      vars:
        username: stebates
        user_setup_create: false
    pliops:
      hosts:
        pliops-storage:
        pliops-gpu:
          ansible_user: amd
