all:
  children:

    local:
      hosts:
        localhost:
          ansible_connection: local

    localvms:
      hosts:
        local-vm:
          username: stebates
          user_setup_vm_fstab: true
          user_setup_motd: true
    amd:
      hosts:
        hipfile-9:
        hipfile-10:
        ibgda-ctrl:
        snoc-think:
          user_setup_motd: true
        snoc-think-vm:
          user_setup_vm_fstab: true
          user_setup_motd: true
        ibgda-brcm:
        local-vm:
          user_setup_vm_fstab: true
          user_setup_motd: true
        rocm-ernic-vm:
          ansible_host: rocm-ernic
          ansible_ssh_port: 2222
          user_setup_vm_fstab: true
          user_setup_motd: true
        rocm-ernic-vm-alola:
          ansible_host: 10.7.197.12
          user_setup_vm_fstab: true
          user_setup_motd: true
          ansible_user: stebates
        hipfile-9-vm:
          ansible_host: hipfile-9
          ansible_ssh_port: 2222
          user_setup_vm_fstab: true
          user_setup_motd: true
      vars:
        username: stebates
        user_setup_create: false

    pliops:
      hosts:
        pliops-storage:
        pliops-gpu:
          ansible_user: amd
