all:

  children:

    local:
      hosts:
        localhost:
          ansible_connection: local

    localvms:
      hosts:
        local-vm:
          username: stebates
          user_setup_vm_fstab: true
          user_setup_motd: true
    amd:
      hosts:
        amd-oracle:
        weka-client:
          ansible_host: weka-client
          username: stebates
        weka-server:
          ansible_host: weka-server
          username: stebates
        hipfile-9:
        hipfile-10:
        ibgda-ctrl:
        snoc-think:
          user_setup_motd: true
        snoc-think-vm:
          user_setup_vm_fstab: true
          user_setup_motd: true
        ibgda-brcm:
        local-vm:
          user_setup_vm_fstab: true
          user_setup_motd: true
        rocm-ernic-vm:
          ansible_host: rocm-ernic
          ansible_ssh_port: 2222
          user_setup_vm_fstab: true
          user_setup_motd: true
        rocm-ernic-vm-alola:
          ansible_host: 10.7.197.12
          user_setup_vm_fstab: true
          user_setup_motd: true
          ansible_user: stebates
        hipfile-9-vm:
          ansible_host: hipfile-9
          ansible_ssh_port: 2222
          user_setup_vm_fstab: true
          user_setup_motd: true
      vars:
        username: stebates
        user_setup_create: false

    pliops:
      hosts:
        pliops-storage:
        pliops-gpu:
          ansible_user: amd

    nvmeof:
      hosts:
        nvmeof-hosts:
          nvmeof_setup_mode: host
          ansible_host: snoc-think
          nvmeof_setup_target_host: 
          nvmeof_setup_connections:
            - transport: rdma
              trsvcid: 4420
              nqn: nvmet-storage
        nvmeof_targets:
          ansible_host: snoc-think-vm
          nvmeof_setup_mode: target
          nvmeof_setup_rdma_dhcp_enable: false
          nvmeof_setup_rdma_dhcp_subnet: "192.168.2.0/24"
          nvmeof_setup_rdma_dhcp_range: "192.168.2.10,192.168.2.50"
          nvmeof_setup_rdma_dhcp_target_ip: "192.168.2.1"
          nvmeof_setup_rdma_dhcp_lease: "1h"
          nvmeof_setup_target_interface: enp1s0np1
          nvmeof_setup_subsystems:
            - name: nvmet-storage
              allow_any_host: true
              namespaces:
                - nsid: 1
                  device_path: /dev/nvme0n1
                  enable: true
                - nsid: 2
                  device_path: /dev/nvme1n1
                  enable: true
                - nsid: 3
                  device_path: /dev/nvme2n1
                  enable: true
                - nsid: 4
                  device_path: /dev/nvme3n1
                  enable: true
          nvmeof_setup_ports:
            - port_id: 1
              trtype: rdma
              adrfam: ipv4
              trsvcid: 4420
              subsystems:
                - nvmet-storage
      vars:
        username: stebates
    
    rdma:
      hosts:
        snoc-think:
          ansible_host: snoc-think
        snoc-think-vm:
          ansible_host: snoc-think-vm
      vars:
        rdma_setup_install_rdma_exporter: true
        rdma_setup_motd: true
