---
# Copyright (c) Stephen Bates, 2025
#

- name: Setup user account and install cool stuff on a new AMD machine
  hosts: "{{ targets }}"
  gather_facts: true
  roles:
    - role: user_setup
      remote_user: "{{ username }}"
      tags: [user_setup]
    - role: fave_packages
      remote_user: "{{ username }}"
      tags: [fave_packages]
    - role: git_setup
      remote_user: "{{ username }}"
      tags: [git_setup]
    - role: rdma_setup
      remote_user: "{{ username }}"
      rocm_setup_user: "{{ username }}"
      tags: [rdma_setup]
    - role: rocm_setup
      remote_user: "{{ username }}"
      rocm_setup_user: "{{ username }}"
      tags: [rocm_setup]
