[defaults]
inventory = ../../inventory/hosts.yml
retry_files_enabled = False
host_key_checking = False

[ssh_connection]
ssh_args = -F /home/stebates/.ssh/config -o ControlMaster=auto -o ControlPersist=60s
